.proyectos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden ;
  height: auto;
  width: auto;
  animation: fadeInUp;
  animation-duration: 2s;
 box-sizing: border-box;

}
.proyecto{
  width: 100%;
  box-sizing: border-box;
  height: auto;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
  flex-grow: 1; /* Permitir que este contenedor crezca para llenar el espacio disponible */

}
.proyecto::-webkit-scrollbar {
  width: 8px;
}

.proyecto::-webkit-scrollbar-track {
  background: transparent;
}

.proyecto::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}


.proyectos-contenedor{
  padding: 0.3em 0em;
  padding-left: 2.5em;
  display: flex;
  align-items: flex-end;
  flex-flow: column nowrap;
  box-sizing:border-box;
  
  
}
.proyectos-nombre {
  font-family: var(--font-title2);
  font-size: calc(var(--text-small) + 65%);
  font-weight: 300;
  line-height: 1.2em;
  text-align: right;
  
}
.proyectos-link{
  
  letter-spacing: 0.109em
  ;

}
.proyectos-fecha{
font-family: var(--font-parrafo);
font-weight: 600;
font-size:var(--text-smaller);
position: relative;
bottom: 1.5em;


}

@media (max-width:640px){

  .proyecto{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    box-sizing: content-box;
    position: relative;
   
  
    
}
  .proyectos-contenedor{
    padding: 0.3em 0em;
    padding-left: 2.5em;
    display: flex;
    align-items: flex-end;
    flex-flow: column nowrap;
   
    
    
}
.proyectos-nombre {
    font-family: var(--font-title2);
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    text-align: right;
    
  }
.proyectos-link{
    
    letter-spacing: 0.109em
    ;

}
.proyectos-fecha{
font-family: var(--font-parrafo);
font-weight: 600;
font-size:var(--text-smaller);
position: relative;
bottom: 1.5em;


}
}