/* Preloader.css */

  .preloader {
    background: rgb(10, 10, 10);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: opacity 1s ease-in-out;
    cursor: default;
    /*background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(0deg, transparent, transparent 2px, black 3px, black 3px),
                url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg');*/
  }
  
  .preloader.fade-out {
    opacity: 0;
  }

  .preloader.fade-in {
    opacity: 0;
  }
.preloader-button{
font-weight: 700;
}

  .preloader-wrapper {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  .sub {
    color: #64dcdc;
    letter-spacing: 0.5em;
    font-size: 1.2em;
  }
  
  /* Glitch Effect Styles */
  
  .glitch {
    position: relative;
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.8em;
    animation: glitch-skew 1s infinite linear alternate-reverse;
  }
  
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }

  button,button::after {
    padding: 10px 50px;
    
    font-size: var(--text-smaller);
    border: none;
    border-radius: 5px;
    color: #1bf79f;
    background-color: transparent;
    position: relative;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.9em;
  }
  
  button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'START';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  
  
  
  @keyframes glitch-anim {
    0% {
      clip: rect(23px, 9999px, 71px, 0);
      transform: skew(0.68deg);
    }
    5% {
      clip: rect(8px, 9999px, 71px, 0);
      transform: skew(0.51deg);
    }
    10% {
      clip: rect(32px, 9999px, 47px, 0);
      transform: skew(0.76deg);
    }
    15% {
      clip: rect(77px, 9999px, 23px, 0);
      transform: skew(0.86deg);
    }
    20% {
      clip: rect(25px, 9999px, 64px, 0);
      transform: skew(0.51deg);
    }
    25% {
      clip: rect(92px, 9999px, 13px, 0);
      transform: skew(0.82deg);
    }
    30% {
      clip: rect(24px, 9999px, 84px, 0);
      transform: skew(0.36deg);
    }
    35% {
      clip: rect(99px, 9999px, 67px, 0);
      transform: skew(0.61deg);
    }
    40% {
      clip: rect(20px, 9999px, 63px, 0);
      transform: skew(0.53deg);
    }
    45% {
      clip: rect(63px, 9999px, 55px, 0);
      transform: skew(0.87deg);
    }
    50% {
      clip: rect(12px, 9999px, 90px, 0);
      transform: skew(0.65deg);
    }
    55% {
      clip: rect(81px, 9999px, 36px, 0);
      transform: skew(0.82deg);
    }
    60% {
      clip: rect(28px, 9999px, 60px, 0);
      transform: skew(0.93deg);
    }
    65% {
      clip: rect(64px, 9999px, 48px, 0);
      transform: skew(0.65deg);
    }
    70% {
      clip: rect(92px, 9999px, 54px, 0);
      transform: skew(0.57deg);
    }
    75% {
      clip: rect(73px, 9999px, 90px, 0);
      transform: skew(0.38deg);
    }
    80% {
      clip: rect(8px, 9999px, 22px, 0);
      transform: skew(0.82deg);
    }
    85% {
      clip: rect(24px, 9999px, 84px, 0);
      transform: skew(0.94deg);
    }
    90% {
      clip: rect(64px, 9999px, 48px, 0);
      transform: skew(0.57deg);
    }
    95% {
      clip: rect(20px, 9999px, 99px, 0);
      transform: skew(0.48deg);
    }
    100% {
      clip: rect(40px, 9999px, 45px, 0);
      transform: skew(0.73deg);
    }
  }
  
  @keyframes glitch-anim2 {
    0% {
      clip: rect(43px, 9999px, 45px, 0);
      transform: skew(0.68deg);
    }
    5% {
      clip: rect(20px, 9999px, 40px, 0);
      transform: skew(0.42deg);
    }
    10% {
      clip: rect(27px, 9999px, 32px, 0);
      transform: skew(0.93deg);
    }
    15% {
      clip: rect(39px, 9999px, 28px, 0);
      transform: skew(0.71deg);
    }
    20% {
      clip: rect(52px, 9999px, 43px, 0);
      transform: skew(0.43deg);
    }
    25% {
      clip: rect(24px, 9999px, 37px, 0);
      transform: skew(0.75deg);
    }
    30% {
      clip: rect(41px, 9999px, 66px, 0);
      transform: skew(0.87deg);
    }
    35% {
      clip: rect(20px, 9999px, 82px, 0);
      transform: skew(0.59deg);
    }
    40% {
      clip: rect(39px, 9999px, 24px, 0);
      transform: skew(0.44deg);
    }
    45% {
      clip: rect(27px, 9999px, 77px, 0);
      transform: skew(0.88deg);
    }
    50% {
      clip: rect(34px, 9999px, 61px, 0);
      transform: skew(0.56deg);
    }
    55% {
      clip: rect(19px, 9999px, 34px, 0);
      transform: skew(0.79deg);
    }
    60% {
      clip: rect(49px, 9999px, 72px, 0);
      transform: skew(0.62deg);
    }
    65% {
      clip: rect(20px, 9999px, 47px, 0);
      transform: skew(0.73deg);
    }
    70% {
      clip: rect(26px, 9999px, 39px, 0);
      transform: skew(0.65deg);
    }
    75% {
      clip: rect(55px, 9999px, 71px, 0);
      transform: skew(0.55deg);
    }
    80% {
      clip: rect(36px, 9999px, 24px, 0);
      transform: skew(0.71deg);
    }
    85% {
      clip: rect(41px, 9999px, 36px, 0);
      transform: skew(0.57deg);
    }
    90% {
      clip: rect(29px, 9999px, 54px, 0);
      transform: skew(0.86deg);
    }
    95% {
      clip: rect(48px, 9999px, 45px, 0);
      transform: skew(0.54deg);
    }
    100% {
      clip: rect(31px, 9999px, 33px, 0);
      transform: skew(0.69deg);
    }
  }
  
  @keyframes glitch-skew {
    0% {
      transform: skew(0deg);
    }
    10% {
      transform: skew(-1deg);
    }
    20% {
      transform: skew(1deg);
    }
    30% {
      transform: skew(-1.5deg);
    }
    40% {
      transform: skew(1.5deg);
    }
    50% {
      transform: skew(-2deg);
    }
    60% {
      transform: skew(2deg);
    }
    70% {
      transform: skew(-2.5deg);
    }
    80% {
      transform: skew(2.5deg);
    }
    90% {
      transform: skew(-3deg);
    }
    100% {
      transform: skew(3deg);
    }
  }
  
  @media (max-width:640px){
    .glitch {
        position: relative;
        color: white;
        font-size: 1.8em;
        letter-spacing: 0.5em;
        animation: glitch-skew 1s infinite linear alternate-reverse;
      }

      .sub {
        color: rgb(100, 220, 220);
        letter-spacing: 0.6em;
        font-size: 0.7em;
      }
}