.flex-column {
    align-content: start;
    padding-left: 0px;
    display: flex;
    justify-content: flex-end;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}
.fadeOut {
  animation: fadeOut;
  animation-duration: 1.s;
}

.nav{
color: none;
}
.nav-link {
    font-family: var(--text-title);
   
    padding: 0.7em 0em;
    color: var(--secondary);
    line-height: 1rem;
    text-align: start;
}
.nav-link:hover, .nav-link:focus{
color:#1bf79f;


}

.nav-item {
    padding: 0px 1px;
    margin: 0px;
    text-align: right;
}



@media (max-width:680px){
    .flex-column {
        align-content: start;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */

    
    }

    .fadeOut {
      animation: fadeOutLeft 1s forwards;
    }
    

}


/* agregado*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/*.flex-column {
  align-content: start;
  padding-left: 0px;
  display: flex;
  justify-content: flex-end;
  animation: fadeInLeft 1s;
}*/

/*.nav-link {
  font-family: var(--text-title);
  padding: 0.7em 0em;
  color: var(--secondary);
  line-height: 1rem;
  text-align: start;
}*/
/*
.nav-link:hover {
  color:var(red);
  background: var(red);
}*/

/*.nav-item {
  padding: 0px 1px;
  margin: 0px;
  text-align: right;
}*/




